{% set menu_name = "business" %}
{% set sidebar_name = "商家余额列表" %}
{% include "@app/views/layouts/header.twig" %}
<div class="content">
    <h3>商家余额列表</h3>
{% block content %}
{{
    widget('\\yii\\grid\\GridView', {
            'id':'app-grid',
            'filterModel':model,
            'dataProvider':dataProvider,
            'columns':{
                0:'created',
                1:'balance_des',
                2:'detail',
                3:'account',

}})

}}
{% endblock %}
</div>

