{% set sidebar_name = "订单列表" %}
{% set menu_name = "shop" %}
{% include "@app/views/layouts/header.twig" %}
<div class="content">
    {% block content %}
    <h3>订单列表</h3>

    {{
    widget('\\kartik\\grid\\GridView', {
    'filterModel':model,
    'dataProvider':dataProvider,
    'columns':{
    3:'id',
    1:'username',
    2:'phone',
    8:'price',
    9:'commission',
    21:{
        'attribute':'status',
        'value':model.getOrderStatus(),
        'filterType':constant('\\kartik\\grid\\GridView::FILTER_SELECT2'),
        'filter':model.orderValues(),
        'filterWidgetOptions':{'pluginOptions':{'allowClear':true},},
        'filterInputOptions':{'placeholder':'选择状态'},
        'format':'html',
    },
    10:{
        'attribute':'订单操作',
        'value':model.setOrderPrice(),
        'format':'html',
    },
    5:{
        'attribute':'商家用户',
        'value':model.getShopUser(),
    },
    7:'created',
    11:{
	'attribute':'图片',
        'value':model.getUrl(),
	'format':'html',
    },
    16:{
        'attribute':'上传附件',
        'value':model.getUpload(),
        'format':'html',
    },
    }})

    }}


    {% endblock %}
</div>
