{% set sidebar_name = "列表" %}
{% set menu_name = "apply" %}
{% include "@app/views/layouts/header.twig" %}
<div class="content">
    {% block content %}
 
    <h3>列表 &nbsp;&nbsp;&nbsp;<a href="http://f.hxinq.com/apply/index.html" class="btn btn-primary" target= _blank>前端入口</a></h3>
<form id="create-form-package" method="post" action="/apply/delete-more">
    {{
    widget('\\kartik\\grid\\GridView', {
    'id':'app-grid', 
    'export':false,
    'responsive':true,
    'hover':true,
    'dataProvider':dataProvider,
    'filterModel':model,
    'columns':{
    0:{
    	'class':'\\kartik\\grid\\CheckboxColumn',
    },
    1:'id',
    3:'name',
    5:{
        'attribute':'sex',
        'value':model.getSex(),
        'filterType':constant('\\kartik\\grid\\GridView::FILTER_SELECT2'),
        'filter':model.SexValues(),
        'filterWidgetOptions':{'pluginOptions':{'allowClear':true},},
        'filterInputOptions':{'placeholder':'选择性别'},
        'format':'html',
    },
    7:'email',
    9:'phone',
    11:{
        'attribute':'status',
        'value':model.getStatus(),
	'filterType':constant('\\kartik\\grid\\GridView::FILTER_SELECT2'),
        'filter':model.StatusValues(),
        'filterWidgetOptions':{'pluginOptions':{'allowClear':true},},
        'filterInputOptions':{'placeholder':'选择状态'},
        'format':'html',
    },
    13:'bank_name',
    14:{
        'attribute':'协议',
        'value':model.getRead(),
    },
    15:'number',
    17:{
        'attribute':'身份证正面照',
        'format':'raw',
        'value':model.getFrontImg(),
    },
    19:{
        'attribute':'身份证反面照',
        'format':'raw',
        'value':model.getBackImg(),
    },
    21:{
        'attribute':'银行卡正面照',
        'format':'raw',
        'value':model.getBankImg(),
    },
    23:{
        'attribute':'添加时间',
        'value':'add',
    },
    25:'bank_code',
    27:{
    'class':'\\common\\extensions\\Grid\\GridActionColumn',
    'template':'{delete-apply}',
    'header':'操作',
    },
    }})

    }}
<button class="btn btn-sm btn-danger" type="button" onclick="submitDelete();"><i class="glyphicon glyphicon-trash"></i>&nbsp;多选删除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/apply/delete-all" onclick= "if(confirm( '这一步很重要，你确定要删除所有数据么！ ')==false)return false;"  class="btn btn-danger btn-sm" ><i class="glyphicon glyphicon-trash"></i>&nbsp;一键删除所有</a>
</form>
<script type="text/javascript">
    function submitDelete(){
        var length = 0;
        $("input[name='selection[]']:checked").each(function(){
               length +=1;
        });
        if(length > 0){
            $("#create-form-package").submit();
        }else{
            alert("请选择要删除的哪几项");
        }
    }
</script>

    {% endblock %}
</div>
