.help {
            color: red;
        }

        .overlay {
            position: fixed;
            z-index: 9993;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            color: red;
            background-color: #666666;
            filter: alpha(opacity=75);
            -moz-opacity: 0.75;
            opacity: 0.75;
            text-align: center;

        }

        .newwindow {
            background-color: #ffffff;
            position: fixed;
            z-index: 9999;
            border: #d8d8d8 2px solid;
            width: 400px;
            height: 200px;
            top: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -100px;
            color: #106480;
        }

        .caption {
            height: 25px;
            width: 270px;
            padding: 20px 80px 10px 25px;
            float: left;
        }


        .picCount {
            margin-top: 10px;
            padding: 10px 0;
            border-top: 1px solid #ccc;
        }

        .fl {
            float: left;
        }

        .form-control {
            //width: 350px;
        }

        .controls li {
            clear: both;
            padding: 2px 0;
            line-height: 34px;
        }

        .controls li span.dt {
            font-size: 14px;
            float: left;
            text-align: right;
            width: 60px;
            padding-right: 8px;
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .clearfix {
            zoom: 1;
        }

        .control-group {
            width: 500px;
        }








/*#submitId {
    border: none;
    background: #ff6600;
    display: block;
    padding: 0 14px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    color: #fff;
    margin-top: 20px;
}*/

.caption {
    width: 100%;
    padding: 0;
}

.caption h5 {
    font-size: 14px;
    margin: 0;
    padding: 0 10px;
    height: 44px;
    color: #fff;
    line-height: 44px;
    background: #2d3a42;
    border-radius: 4px 4px 0 0;
}

.close {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    opacity: 1.2;
}

#uploadFrom {
    font-size: 16px;
}

#submitId {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    color: #fff;
    float: right;
    width: 54px;
    height: 32px;
    margin: 0 14px 0 0;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    border: 1px solid #e87e00;
    background: #ff8a00;
}

#upload_file {
    width: 360px;
    font-size: 14px;
    padding: 30px 20px;
}

.newwindow {
    border: none;
    z-index: 9999;
    height: 174px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.per_upload_con {
    //width: 462px;
    height: 148px;
    position: relative;
}
.per_upload_img {
    width: 218px;
    height: 146px;
    background: url(../images/bg.jpg) no-repeat center center;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    float: left;
    margin-right: 12px;
    color: #999999;
    line-height: 146px;
    text-align: center;
}
.per_upload_img.empty {
    background: url(../images/white.png) repeat center center;
}
.per_real_img {
    position: absolute;
    width: 218px;
    height: 146px;
    top: 1px;
    left: 1px;
    overflow: hidden;
    cursor: pointer;
}
.per_real_img img{
    width: 100%;
	height:100%;
}
.per_upload_img:hover {
    border-color: #f3a948;
    color: #ff7624;
}
.per_upload_img:hover .plus, .per_upload_img:hover .plus_text {
    color: #ff7624;
}
.per_upload_text {
    width: 30%;
    float: left;
    padding-top: 12px;
}
.per_upload_con .red {
    color: #ff6702;
}
.per_upload_con .upname {
    color: #1f1d1c;
    line-height: 12px;
}
.per_upload_con .rule {
    color: #999999;
    line-height: 22px;
}
.per_upload_con .plus {
    font-size: 100px;
    color: #b8b8b8;
    line-height: 100px;
}
.per_upload_con .plus_text {
    color: #999999;
    line-height: 22px;
}
.green{
	background-color: #35aa47;
    color: white;
    text-shadow: none;
}


