<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://shop.wedpl.cn/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="/css/login_reset.css">
    <link rel="stylesheet" type="text/css" href="/css//shop/home.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<div id="content">
        <div id="content_left">
                <div class="head_img">
			{% if model.url is not empty%}
                                <img src="{{staticUrl}}{{model.url}}" alt=""/>
                        {% else %}
                                <img src="/images/shop/logo.png"/>
                        {% endif %}
                        <h2>{{ username }}</h2>
                </div>
                <div class="account">
                        <h3><img src="/images/shop/account.png" />账户余额</h3>
                        <p><span>{{ total  }}</span>&nbsp;<em>元</em></p>
                </div>
                <div class="order_center">
                        <ul>
                                <li><a href="/site/index.html"><img src="/images/shop/order_home.png"/><p>&nbsp;抢单大厅</p></a></li>
                                <li><a href="/order/index.html"><img src="/images/shop/my_order.png"/><p>&nbsp;我的订单</p></a></li>
                                <li><a href="/order/detail.html"><img src="/images/shop/balance.png"/><p>&nbsp;余额明细</p></a></li>
				<li><a href="javascript:void(0);" class="shop_info"><img src="/images/shop/pwd.png"/><p>&nbsp;信息</p></a></li>
                                <li style="margin-top:0rem;display:block;" class="info_list">
                                        <a href="/shop/info.html" style="font-size:1rem;height:3rem;line-height:3rem;text-indent:-5rem;text-decoration:none;" >商家信息</a>
                                        <a href="/password/index.html" style="font-size:1rem;height:3rem;line-height:3rem;text-indent:3rem;text-decoration:none;background:#E4461C;">修改密码</a>
                                </li>
                        </ul>
                </div>


        </div>

        <div id="content_right">
                <div class="right_top">
                        <img src="/images/shop/top-logo.jpg" />
                        <p><span>商务热线：<em>400-186-1314</em></span></p>
                        <form action="/site/logout.html" method="post">
                                <input type="hidden" name="_csrf-frontend" value=""><button type="submit" class="logout">退出系统 </button>
                        </form>
                </div>
                <div class="rule">
                        <div class="rule_des">
                                <h2>抢单规则</h2>
                                <p>1.成功抢单，每单<span>预扣100元</span></p>
                                <p>2.未成交的订单<span>返回50元</span></p>
                                <p>3.成交后将在余额内扣取5%的订单金额</p>
                        </div>
                </div>
                <div class="table-b" >
			<form action="/password/index.html" method="post" name="update" id="update">
				</br></br>
				<div class="col-sm-4">
                        		<input type="password" name="password" class="form-control" placeholder="重置密码"></br>
				</div>
				<div class="col-sm-4">
					<input type='submit' value='提交' class='btn btn-large btn-primary' />
				</div>
	                </form>
                </div>
                <p></p>
        </div>

</div>
<script src="/js/jQuery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/home.js" type="text/javascript"></script>
</body>
</html>

