<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录-结婚计划网</title>
    <link rel="stylesheet" type="text/css" href="/css/login_reset.css">
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
</head>
<body>
<div class="login_head"><a href="http://www.wedpl.com"><img src="/images/logo.png"></a></div>
<div class="login_wrap">
    <div class="login_con">
        <div class="weixinbox"><span><img src="" alt=""></span></div>        
        <div class="info_box">
            <div class="info_tit"><span class="on"><a href="/site/login.html">登录</a></span><span><a href="">注册</a></span></div>
            <div class="info_con">
                <div class="con1">
                    <form action="/site/login.html" method="post" name="login_go" id="login_go">
                        <input name="Login[username]" type="text" class="username loginmenu" onblur="if(!value){value=defaultValue;}" onfocus="if(value==defaultValue){value='';}"  placeholder="用户名">
                        <span class="tishi"></span>
                        <em class="queren"></em>
                        <input name="Login[password]" onblur="if(!value){value=defaultValue;this.type='text';}" onfocus="if(value==defaultValue){value='';this.type='password';}" class="password loginmenu" placeholder="密码">
                        <div class="wrong"><em></em></div>
			<p class="login_message"><span class="login_warn_btn"></span><span class="login_messagewarm"></span></p>
			<p class="loginsubmit">登录</p>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="login_foot">
	<a href="http://nb.wedpl.com/hunsha/">婚纱摄影</a> | <a href="http://nb.wedpl.com/ertong/">儿童摄影</a> | <a href="http://nb.wedpl.com/hunqing/">婚庆服务</a> | <a href="http://nb.wedpl.com/hunshalifu/">婚庆礼服</a> | <a href="http://nb.wedpl.com/jiudian/">婚庆酒店</a> | <a href="http://nb.wedpl.com/shoushi/">婚戒首饰</a>
    <p>© CopyRight 上海胜叙信息技术有限公司 All Rights Resrved&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备17015275号&nbsp;&nbsp;&nbsp;&nbsp;</p>
</div>
    <script src="/js/jQuery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/login.js"></script>
</body>
</html>
